In [1]:
import numpy as np
import pandas as pd

In [2]:
dt = pd.read_csv(r"C:\Users\srava\Downloads\cleaned_all_phones.csv")

In [10]:
dt.head()

,phone_name,brand,os,inches,resolution,battery,battery_type,ram(GB),announcement_date,weight(g),...,video_1080p,video_4K,video_8K,video_30fps,video_60fps,video_120fps,video_240fps,video_480fps,video_960fps,price(USD)
0,Y6II Compact,Huawei,Android 5.1,5.0,720x1280,2200,Li-Po,2,2016-09-01,140.0,...,False,False,False,True,False,False,False,False,False,120.0
1,K20 plus,LG,Android 7.0,5.3,720x1280,2700,Li-Ion,2,2016-12-01,140.0,...,True,False,False,True,False,False,False,False,False,100.0
2,P8 Lite (2017),Huawei,Android 7.0,5.2,1080x1920,3000,Li-Ion,4,2017-01-01,147.0,...,True,False,False,True,False,False,False,False,False,420.0
3,Redmi Note 4,Xiaomi,Android 6.0,5.5,1080x1920,4100,Li-Po,4,2017-01-01,165.0,...,True,False,False,True,False,True,False,False,False,150.0
4,P10,Huawei,Android 7.0,5.1,1080x1920,3200,Li-Ion,4,2017-02-01,145.0,...,True,True,False,True,True,False,False,False,False,420.0

In [4]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1512 entries, 0 to 1511
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   phone_name         1512 non-null   object
 1   brand              1512 non-null   object
 2   os                 1512 non-null   object
 3   inches             1512 non-null   float64
 4   resolution         1512 non-null   object
 5   battery            1512 non-null   int64
 6   battery_type       1512 non-null   object
 7   ram(GB)            1512 non-null   int64
 8   announcement_date  1512 non-null   object
 9   weight(g)          1512 non-null   float64
 10  storage(GB)        1512 non-null   int64
 11  video_720p         1512 non-null   bool
 12  video_1080p        1512 non-null   bool
 13  video_4K           1512 non-null   bool
 14  video_8K           1512 non-null   bool
 15  video_30fps        1512 non-null   bool
 16  video_60fps        1512 non-null   bool
 17  video_120fps       1512 non-null   bool
 18  video_240fps       1512 non-null   bool
 19  video_480fps       1512 non-null   bool
 20  video_960fps       1512 non-null   bool
 21  price(USD)         1512 non-null   float64
dtypes: bool(10), float64(3), int64(3), object(6)
memory usage: 156.6+ KB

In [49]:
dt['announcement_date']=pd.to_datetime(dt['announcement_date'])

In [ ]:
# 1.How many unique  mobile brands are there in the data provided?

In [9]:
len(dt['brand'].unique())

13

In [ ]:
# Ans: 13 mobile brands are unique

In [ ]:
#2. What is the average ram size of all the collected data?

In [12]:
dt['ram(GB)'].mean()

6.6838624338624335

In [ ]:
# Ans: 6.69 is the average ram size of all the collected data.

In [ ]:
# 3.Which phone is having the maximum and minimum battery capacity?

In [13]:
dt['battery'].min()

1821

In [14]:
dt.loc[dt['battery']==1821]

,phone_name,brand,os,inches,resolution,battery,battery_type,ram(GB),announcement_date,weight(g),...,video_1080p,video_4K,video_8K,video_30fps,video_60fps,video_120fps,video_240fps,video_480fps,video_960fps,price(USD)
62,iPhone 8,Apple,iOS 11,4.7,750x1334,1821,Li-Ion,2,2017-09-12,148.0,...,True,True,False,True,True,True,True,False,False,210.0
536,iPhone SE (2020),Apple,iOS 13,4.7,750x1334,1821,Li-Ion,3,2020-04-15,148.0,...,True,True,False,True,True,True,True,False,False,189.5

In [ ]:
# Ans: iphone 8 and iphone SE(2020) are having minimum RAM capacity.

In [ ]:
#4. What is the maximum battery capacity provided by Huawei Company?

In [39]:
x = dt.groupby('brand')

In [46]:
x.agg({'battery':['min','max'],'inches':['min','max'],'price(USD)':['min','max'],'ram(GB)':['min','max']})

        battery       inches        price(USD)          ram(GB)
            min   max    min    max        min      max     min max
brand
Apple      1821  4352   4.70   6.70     189.50  1580.09       2   6
Google     2700  5003   5.00   7.60     238.00  1750.00       4  12
Honor      3000  7250   5.45  10.40      90.00  1500.00       2  16
Huawei     2200  7000   5.00   8.00      90.00  2300.00       1  12
LG         2410  5000   5.00   6.80      70.00  1100.00       1   8
Lenovo     3000  7000   5.20  10.30      90.00   880.00       2  18
OnePlus    3300  5000   6.28   6.78     119.00  1030.00       4  24
Oppo       2900  5000   5.20   7.10     100.00  1350.00       2  16
Realme     3410  6000   6.00   6.74      40.00   839.95       2  24
Samsung    1950  7000   3.80   7.60      60.00  1750.00       1  16
Sony       2300  5000   4.60   6.50     110.00  2000.00       2  12
Vivo       4000  6000   6.38   8.03      90.00  1450.00       2  16
Xiaomi     3000  6000   5.00   8.03      71.37  1500.00       1  24

In [ ]:
# Ans: 7000 is the highest RAM provided by huawei company.

In [ ]:
# 5.Which Phone brand is providing the highest and lowest ram?

In [ ]:
# Ans: Xiaomi is providing highest and lowest RAM

In [ ]:
#6. How many phones has android 7.0 as there operating system?

In [17]:
len(dt.loc[dt['os']=='Android 7.0'])

33

In [ ]:
# Ans: 33 phones have Android 7.0 as operating system

In [ ]:
#7. Which Phone is the oldest?

In [18]:
dt['announcement_date'].min()

'2016-09-01'

In [21]:
dt.loc[dt['announcement_date']=='2016-09-01']

,phone_name,brand,os,inches,resolution,battery,battery_type,ram(GB),announcement_date,weight(g),...,video_1080p,video_4K,video_8K,video_30fps,video_60fps,video_120fps,video_240fps,video_480fps,video_960fps,price(USD)
0,Y6II Compact,Huawei,Android 5.1,5.0,720x1280,2200,Li-Po,2,2016-09-01,140.0,...,False,False,False,True,False,False,False,False,False,120.0

In [ ]:
# Ans: y6ll Compact of Huawei brand is the oldest phone.

In [ ]:
#8.Which brand produced maximum number of phone in the given data?

In [22]:
dt['brand'].value_counts()

Xiaomi     264
Oppo       213
Samsung    206
Vivo       168
Realme     157
Huawei     137
Honor      124
LG          75
OnePlus     47
Lenovo      43
Sony        37
Apple       22
Google      19
Name: brand, dtype: int64

In [ ]:
# Ans: Xiaomi produced maximum number of phones.

In [ ]:
# 9.Give the count of phones supporting?
#  4k video, 8k video, 2k video

In [5]:
len(dt.loc[dt['video_4K']==True].value_counts()) # no. of phones supporting 4k video

801

In [25]:
len(dt.loc[dt['video_8K']==True].value_counts()) # no.of phones supporting 8k video

86

In [26]:
len(dt.loc[dt['video_1080p']==True].value_counts()) # no.of phones support 2k video

1503

In [27]:
# Ans: 4k video : 801 phones support 4k video
#      8k video : 86 phones support 8k video
#      2k video : 1503 phones support 2k video

In [ ]:
# 10. How many phones supports Li-Po and Li-ion Battery?

In [65]:
len(dt.loc[dt['battery_type']== 'Li-Po']) # Li-Po battery phones

1242

In [66]:
len(dt.loc[dt['battery_type']=='Li-Ion']) # Li-Ion battery phones

270

In [ ]:
# Ans: 1242 phones support li-Po battery
#      270 phones support Li-Ion battery

In [ ]:
# 11. How many sony phones supports 720x1280 resolution?

In [31]:
x = dt.loc[(dt['brand']=='Sony')&(dt['resolution']=='720x1280')]

In [33]:
x

,phone_name,brand,os,inches,resolution,battery,battery_type,ram(GB),announcement_date,weight(g),...,video_1080p,video_4K,video_8K,video_30fps,video_60fps,video_120fps,video_240fps,video_480fps,video_960fps,price(USD)
5,Xperia XA1,Sony,Android 7.0,5.0,720x1280,2300,Li-Ion,3,2017-02-01,143.0,...,True,False,False,True,False,False,False,False,False,140.0
13,Xperia L1,Sony,Android 7.0,5.5,720x1280,2620,Li-Ion,2,2017-03-01,180.0,...,True,False,False,True,False,False,False,False,False,110.0
48,Xperia XZ1 Compact,Sony,Android 8.0,4.6,720x1280,2700,Li-Ion,4,2017-08-01,140.0,...,True,True,False,True,True,False,False,False,True,300.0
66,Xperia R1 (Plus),Sony,Android 7.1,5.2,720x1280,2620,Li-Ion,3,2017-10-01,154.0,...,True,False,False,True,False,False,False,False,False,168.0
93,Xperia L2,Sony,Android 7.1.1,5.5,720x1280,3300,Li-Ion,3,2018-01-01,178.0,...,True,False,False,True,False,False,False,False,False,140.0

In [ ]:
# Ans 5 sony phone supports 720 x 1280 resolution