In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv(r"C:\Users\srava\Downloads\all_grains_data.csv")

In [4]:
data.head()

  ticker commodity        date    open    high     low   close  volume
0   ZC=F      Corn  2000-07-17  182.25  182.25  178.25  179.25   19385
1   ZC=F      Corn  2000-07-18  179.00  183.25  179.00  180.75   25205
2   ZC=F      Corn  2000-07-19  180.00  182.75  178.75  182.00   17126
3   ZC=F      Corn  2000-07-20  181.50  187.00  181.00  186.00   18742
4   ZC=F      Corn  2000-07-21  185.50  188.00  185.00  187.75   16814

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34883 entries, 0 to 34882
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ticker     34883 non-null  object
 1   commodity  34883 non-null  object
 2   date       34883 non-null  object
 3   open       34883 non-null  float64
 4   high       34883 non-null  float64
 5   low        34883 non-null  float64
 6   close      34883 non-null  float64
 7   volume     34883 non-null  int64
dtypes: float64(4), int64(1), object(3)
memory usage: 2.1+ MB

In [6]:
data.describe()

               open          high           low         close         volume
count  34883.000000  34883.000000  34883.000000  34883.000000   34883.000000
mean     573.890888    579.401570    568.530326    573.880280   27606.105008
std      458.921582    463.500174    454.580653    458.949972   52347.602634
min       14.400000     14.410000     14.380000     14.380000       0.000000
25%      224.500000    226.500000    222.250000    224.250000      78.000000
50%      435.500000    439.000000    431.750000    435.750000     867.000000
75%      878.000000    886.500000    869.750000    877.125000   28293.500000
max     2435.000000   2468.500000   2400.000000   2446.000000  523849.000000

In [7]:
# 1. Which commodity was having the highest opening price for the day?

In [10]:
data['open'].max()

2435.0

In [12]:
data.loc[data['open']==2435]

      ticker   commodity        date    open    high     low   close  volume
19437   ZR=F  Rough Rice  2008-04-24  2435.0  2468.5  2396.0  2396.0    1218

In [13]:
# Ans: Rough rice is having highest opening price for the day.

In [14]:
# 2.Which commodity price reached  maximum during the trading session?

In [15]:
data['high'].max()

2468.5

In [16]:
data.loc[data['high']==2468.5]

      ticker   commodity        date    open    high     low   close  volume
19437   ZR=F  Rough Rice  2008-04-24  2435.0  2468.5  2396.0  2396.0    1218

In [17]:
# Ans: Rough rice commodity reached maximum during trading session.

In [18]:
#3. What is the average Market's opening price for the Oat in 2010?

In [26]:
x = ((data['date'].str.contains('2010'))&(data['commodity']=='Oat'))

In [27]:
data.loc[x]['high'].mean()

279.51190476190476

In [28]:
# Ans: 279.5 is the average market's opening price for the oat in year 2010.

In [29]:
# 4.What is the maximum and minimum Number of contracts traded during the 2009?

In [50]:
starting_date = pd.to_datetime('2009-01-01')

In [52]:
ending_date = pd.to_datetime('2009-12-31')

In [55]:
x1 = data.loc[(data['date']>=starting_date)&(data['date']<=ending_date)]

In [66]:
x2 = x1.sort_values(by='volume',ascending=True)

In [76]:
x2

      ticker     commodity       date    open    high     low   close  volume
13896   KE=F  KC HRW Wheat 2009-12-22  516.00  519.25  510.25  517.25       0
13739   KE=F  KC HRW Wheat 2009-05-11  629.50  629.50  629.50  629.50       0
13738   KE=F  KC HRW Wheat 2009-05-08  627.00  627.00  627.00  627.00       0
13737   KE=F  KC HRW Wheat 2009-05-07  608.75  608.75  608.75  608.75       0
13736   KE=F  KC HRW Wheat 2009-05-06  593.00  595.00  591.25  601.00       0
...      ...           ...        ...     ...     ...     ...     ...     ...
2315    ZC=F          Corn 2009-11-12  392.00  398.25  382.50  390.50  186124
2313    ZC=F          Corn 2009-11-10  384.00  397.00  379.25  394.50  202202
2288    ZC=F          Corn 2009-10-06  342.00  370.00  342.00  358.25  213787
2314    ZC=F          Corn 2009-11-11  393.25  403.00  391.50  394.00  246000
2273    ZC=F          Corn 2009-09-15  317.00  347.75  316.00  346.50  252221

[1500 rows x 8 columns]

In [75]:
x2.tail(5)

     ticker commodity       date    open    high     low   close  volume
2315   ZC=F      Corn 2009-11-12  392.00  398.25  382.50  390.50  186124
2313   ZC=F      Corn 2009-11-10  384.00  397.00  379.25  394.50  202202
2288   ZC=F      Corn 2009-10-06  342.00  370.00  342.00  358.25  213787
2314   ZC=F      Corn 2009-11-11  393.25  403.00  391.50  394.00  246000
2273   ZC=F      Corn 2009-09-15  317.00  347.75  316.00  346.50  252221

In [77]:
# Ams: 252221 is the highest no.of contracts traded during 2009.
#      0 is the lowest no.0f conracts traded during 2009.

In [78]:
# 5. Which year have  maximum and minimum Number of contracts traded ?

In [86]:
data['date'].dt.year.unique()

array([2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010,
       2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021,
       2022, 2023], dtype=int64)

In [104]:
x1=((data['date']>='2000-01-01')&(data['date']<='2000-12-31')) # 2000

In [105]:
data.loc[x1]['volume'].mean()

2378.673349056604

In [108]:
x2=((data['date']>='2001-01-01')&(data['date']<='2001-12-31')) # 2001

In [109]:
data.loc[x2]['volume'].mean()

798.5369127516778

In [110]:
x3 = ((data['date']>='2002-01-01')&(data['date']<='2002-12-31')) #2002

In [111]:
data.loc[x3]['volume'].mean()

786.4114896459586

In [112]:
x4=((data['date']>='2003-01-01')&(data['date']<='2003-12-31')) # 2003

In [113]:
data.loc[x4]['volume'].mean()

1882.8823529411766

In [116]:
x5=((data['date']>='2004-01-01')&(data['date']<='2004-12-31'))# 2004

In [118]:
data.loc[x5]['volume'].mean()

944.6906807666887

In [119]:
x6=((data['date']>='2005-01-01')&(data['date']<='2005-12-31')) # 2005

In [120]:
data.loc[x6]['volume'].mean()

353.58404746209624

In [124]:
x7=((data['date']>='2006-01-01')&(data['date']<='2006-12-31')) # 2006

In [125]:
data.loc[x7]['volume'].mean()

4374.30443414957

In [126]:
x8=((data['date']>='2007-01-01')&(data['date']<='2007-12-31')) # 2007

In [127]:
data.loc[x8]['volume'].mean()

16147.98673740053

In [128]:
x9=((data['date']>='2008-01-01')&(data['date']<='2008-12-31')) # 2008

In [129]:
data.loc[x9]['volume'].mean()

28096.3511198946

In [130]:
x10=((data['date']>='2009-01-01')&(data['date']<='2009-12-31')) # 2009

In [131]:
data.loc[x10]['volume'].mean()

28108.638666666666

In [132]:
x11=((data['date']>='2010-01-01')&(data['date']<='2010-12-31')) # 2010

In [133]:
data.loc[x11]['volume'].mean()

32178.257275132277

In [134]:
x12=((data['date']>='2011-01-01')&(data['date']<='2011-12-31')) # 2011

In [135]:
data.loc[x12]['volume'].mean()

37446.49272486773

In [136]:
x13=((data['date']>='2012-01-01')&(data['date']<='2012-12-31')) # 2012

In [137]:
data.loc[x13]['volume'].mean()

36739.109333333334

In [138]:
x14=((data['date']>='2013-01-01')&(data['date']<='2013-12-31')) # 2013

In [139]:
data.loc[x14]['volume'].mean()

33429.82671957672

In [140]:
x15=((data['date']>='2014-01-01')&(data['date']<='2014-12-31')) # 2014

In [141]:
data.loc[x15]['volume'].mean()

36046.36574074074

In [143]:
x16=((data['date']>='2015-01-01')&(data['date']<='2015-12-31')) # 2015

In [144]:
data.loc[x16]['volume'].mean()

42472.61706349206

In [145]:
x17=((data['date']>='2016-01-01')&(data['date']<='2016-12-31')) # 2016

In [146]:
data.loc[x17]['volume'].mean()

46004.024

In [147]:
x18=((data['date']>='2017-01-01')&(data['date']<='2017-12-31')) # 2017

In [148]:
data.loc[x18]['volume'].mean()

46268.8240371846

In [149]:
x19=((data['date']>='2018-01-01')&(data['date']<='2018-12-31')) # 2018

In [150]:
data.loc[x19]['volume'].mean()

48157.38497340425

In [151]:
x20=((data['date']>='2019-01-01')&(data['date']<='2019-12-31')) # 2019

In [152]:
data.loc[x20]['volume'].mean()

48972.294

In [153]:
x21=((data['date']>='2020-01-01')&(data['date']<='2020-12-31')) # 2020

In [154]:
data.loc[x21]['volume'].mean()

44770.63570487483

In [155]:
x22=((data['date']>='2021-01-01')&(data['date']<='2021-12-31')) # 2021

In [156]:
data.loc[x22]['vox22=((data['date']>='2021-01-01')&(data['date']<='2021-12-31')) # 2021lume'].mean()

40163.46296296296

In [157]:
x23=((data['data.loc[x23]['volume'].mean()date']>='2022-01-01')&(data['date']<='2022-12-31')) # 2022

In [158]:
data.loc[x23]['volume'].mean()

36409.47543160691

In [159]:
x24=((data['date']>='2023-01-01')&(data['date']<='2023-12-31')) # 2023

In [160]:
data.loc[x24]['volume'].mean()

38119.15725047081

In [164]:
# Ans : 2005 has minimum contracts traded with an average of 354 contracts
# Ans : 2019 has maximum contracts traded with an average of 48972 contracts

In [165]:
# 6.Which commodity have the average lowest opening price around 2001 to 2005?

In [192]:
dt1 = (data['date']>='2001-01-01')&(data['date']<='2005-12-31')

In [193]:
dt2 = data.loc[dt1]

In [194]:
dt3 = dt2.groupby('commodity')

In [196]:
dt3['open'].mean()

commodity
Corn            226.167136
KC HRW Wheat    343.651033
Oat             159.646309
Rough Rice      616.746411
Soybean         594.099841
Soybean Oil      21.416110
Name: open, dtype: float64

In [197]:
# Ans : Soyabeen oil have the aaverage lowest opening price with 21.41 in the year between 2001 to 2005

In [ ]:
#7. Which commodity have the best average  Market's closing price?

In [198]:
z = data.groupby('commodity')

In [201]:
z['close'].mean()

commodity
Corn             409.404772
KC HRW Wheat     563.693282
Oat              278.657674
Rough Rice      1143.607925
Soybean          998.015728
Soybean Oil       36.820361
Name: close, dtype: float64

In [202]:
# Ans: Rough rice have best average market's closing price with 1143.6

In [203]:
#8.Which year corn have the highest and lowest Number of contracts traded?

In [210]:
z['volume'].max().loc['Corn']

523849

In [213]:
data.loc[data['volume']==523849]

     ticker commodity       date    open   high     low   close  volume
4216   ZC=F      Corn 2017-06-07  378.25  387.0  378.25  384.75  523849

In [215]:
y = (data['commodity']=='Corn')&(data['volume']==0)

In [216]:
data.loc[y]['date']

821    2003-12-11
1328   2005-12-13
4486   2018-07-03
4528   2018-08-31
5682   2023-04-06
Name: date, dtype: datetime64[ns]

In [217]:
# Ans: 2017-06-07 on this date corn has highest no.of contracts traded.
#      2003-12-13, 2005-12-13, 2018-07-03, 2018-08-31, 2023-04-06 on this dates corn has lowest no.of trading done.